@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>MichaelPortfolio</b></h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<body lang="en-US" link="#000080" vlink="#800000" dir="ltr">
<div title="header"><p style="line-height: 100%; margin-bottom: 0.46in">
	<span class="sd-abs-pos" style="position: absolute; top: -0.3in; left: 0in; width: 336px"><img src="6b075106d77b252f60f13241d4a8eaed_html_5c35da8e5b0429e.gif" name="Shape2" alt="Shape2" align="left" width="336" height="1056"/>
</span><br/>

	</p>
</div><p style="text-transform: uppercase; letter-spacing: 1.1pt; line-height: 100%; margin-bottom: 0.17in">
<font size="5" style="font-size: 18pt"><b>MIchael H. Vardiman Jr.</b></font></p>
<p style="line-height: 120%; margin-bottom: 0.64in">5474 Ruskin Ave</p>
<p style="line-height: 120%; margin-bottom: 0.64in">St. Louis, MO
63115</p>
<p style="line-height: 120%; margin-bottom: 0.64in">(678)-704-3860</p>
<p style="line-height: 120%; margin-bottom: 0.64in">MVardiman@Gmail.com</p>
<h1 class="western">Skills Summary</h1>
<ul>
	<li><p style="line-height: 100%; margin-bottom: 0in"><font color="#444444">Reading
	and interpreting drawings, blueprints, schematics, and electric code
	specifications for residential and commercial electrical equipment
	installations</font></p>
	<li><p style="line-height: 100%; margin-bottom: 0in"><font color="#444444">Installing,
	repairing, or replacing electrical wiring, receptacles, switch
	boxes, conduits, lighting, and alternative electrical parts</font></p>
	<li><p style="line-height: 100%; margin-bottom: 0in"><font color="#444444">Testing
	electrical equipment and parts for continuity, voltage, current, and
	resistance</font></p>
</ul>
<p style="line-height: 120%; margin-bottom: 0.13in"><br/>
<br/>

</p>
<h1 class="western">Education</h1>
<p style="line-height: 120%; margin-bottom: 0.04in">IBEW JATC
Accelerated Apprenticeship, 2020-2022</p>
<p style="line-height: 120%; margin-bottom: 0.04in">Ranken Technical
College – Electrical Apprenticeship, 2017-2020</p>
<p style="line-height: 120%; margin-bottom: 0.04in"><br/>
<br/>

</p>
<h1 class="western">Experience</h1>
<h2 class="western">Sachs Electric</h2>
<h3 class="western">Wiremen; January 2017- Current</h3>
<ul>
	<li><p style="line-height: 100%; margin-top: 0.19in; margin-bottom: 0in">
	<font color="#666666"><font face="Century Gothic, serif">Installing
	electrical circuits, including panels, conduit, switches, and
	protecting devices</font></font></p>
	<li><p style="line-height: 100%; margin-bottom: 0in"><font color="#666666"><font face="Century Gothic, serif">Installing,
	repairing, and replacing transformers, motors, AC/DC motors and
	drives, starters, relays, and hydraulic and gas electrical controls</font></font></p>
	<li><p style="line-height: 100%; margin-bottom: 0in"><font color="#666666"><font face="Century Gothic, serif">Performing
	preventive maintenance and testing of electrical systems, including
	power distribution equipment while following the NEC Code. </font></font>
	</p>
	<li><p style="line-height: 100%; margin-bottom: 0.19in"><font color="#666666"><font face="Century Gothic, serif">Operating
	Booms, Lifts, and Tuggers for electrical work.  </font></font>
	</p>
</ul>
<h1 class="western">Awards and Acknowledgements</h1>
<p style="line-height: 120%; margin-bottom: 0.04in">OSHA 10
Certified- 2017</p>
<p style="line-height: 120%; margin-bottom: 0.04in">OSHA 30
Certified- 2019</p>
<p style="line-height: 120%; margin-bottom: 0.04in">Journeymen
Wiremen- 2022</p>
<p style="line-height: 120%; margin-bottom: 0.04in">NEC Code
Certified- 2019</p>
</body>
